body {
    background-color: #fad676;
}

.navbar {
    background-image: linear-gradient(to top, #a71834, #fc6c61, #f8e57c);
    background-size: cover;
    background-repeat: no-repeat;
}

.navtext, .dropdown-item, .nav-link {
    font-family: "smoothy", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 175%;
    transition: all 0.3s ease 0s;
}

.dropdown-menu {
    background-image: url("navbackground.png");
    border: none;

    transition: all 0.3s ease 0s;
}

.dropdown-menu:hover {
    border: none;
    background-image: ("navbackground.png");
    transition: all 0.3s ease 0s;
    color: black;
}

.dropdown-item:hover {
    color: #a71834;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease 0s;
    font-size: 180%;
}

.navtext:hover, .nav-link:hover {
    color: #f8e57c;
    transition: all 0.3s ease 0s;
    font-size: 180%;
}



.titlepage {
    font-family: "begaz", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
    text-shadow: 0px 0px 30px #cd3647;
    transition: all 0.3s ease 0s;
}
.titlepage:hover {
    text-shadow: 0px 0px 30px #1d0df8;
    transition: all 0.3s ease 0s;
    font-size: 450%;
}

.homepage {
    background-image: url("picturepage1hawaii (1).jpg");
    padding-top:120px;
    padding-bottom:450px;
    background-size: cover;
    background-position: center center;
}



/* PAGE 1 */



iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 25px;
    border: 4px solid #cd3647;
}
iframe:hover {
    box-shadow: 5px 6px 7px #cd3647, 
              5px 7px 9px #cd3647, 
              5px 9px 13px #cd3647, 
              5px 13px 21px #cd3647;
    transition: all 0.3s ease 0s;
}

.titles {
    font-family: "begaz", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
    margin-top: 2%;
    transition: all 0.3s ease 0s;
}
.titles:hover {
    text-shadow: 0px 0px 30px #cd3647;
    transition: all 0.3s ease 0s;
    color: #a71834;
    animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.card {
    background-image: linear-gradient(to top, #ffb46e, #f8e37a);
    background-size: cover;
    background-repeat: no-repeat;
}

.cruises {
    margin-top: 15%;
    border-radius: 25px;
    border: 4px solid #a71834;
    transition: all 0.3s ease 0s;
    margin-bottom: 10%;
}
.cruises:hover {
    box-shadow: 5px 6px 7px #cd3647, 
              5px 7px 9px #cd3647, 
              5px 9px 13px #cd3647, 
              5px 13px 21px #cd3647;
    transition: all 0.3s ease 0s;
    animation: bounce 1s;
}

.textincard {
    text-align: center;
    color: black;
    margin-bottom: 8%;
}

p, li {
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 105%;
    color: black;
    margin-bottom: 2%;
}

.card-title {
    font-family: "begaz", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 350%;
    margin-top: 2%;
    transition: all 0.3s ease 0s;
}
.card-title:hover {
    text-shadow: 0px 0px 30px #5044f5;
    transition: all 0.3s ease 0s;
    color: #5044f5;
}

a {
    text-decoration: none;
    color: #a71834;
}

.linkoncard {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: hsl(348, 75%, 37%);
    color: white;
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 100%;
}
.linkoncard:hover {
    color: white;
    background-color: #5044f5;
    box-shadow: 5px 6px 7px #a71834, 
              5px 7px 9px #a71834, 
              5px 9px 13px #a71834, 
              5px 13px 21px #a71834;
}

.cardpics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 25px;
    border: 2px solid #a71834;
}

.weatherwidget-io {
    width: 100%;
}